<!DOCTYPE html>
<html lang = "zh-Hant">

<head>
    <meta charest = "utf-8">
    <title>blog system</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div class = "navbar navbar-default">
        <div class = 'container-fluid'>
            <div class = 'navbar-header'>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href = '/' class = "navbar-brand"><%= title %></a>
            </div>

            <div class="collapse navbar-collapse" id = "myNav">
                <ul class = "nav navbar-nav navbar-right">               
                    <% if(username && authenticated){ %>
                        <li><a href = '/users/add_article'>Add article</a></li>
                        <li class = 'drop-down'>
                            <a href = "#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= username %><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href = '/users/profile'>Profile</a></li>
                                <li><a href = '/users/signout'>Sign Out</a></li>
                            </ul>
                        </li>                
                    <% }else{ %>           
                        <li><a href = '/users/register'>Register</a></li>
                        <li><a href = '/users/forget'>Forget password</a></li>
                        <li><a href = '/users/signin'>Log in</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>

    <% for(i = 0; i < blogs.length; i++){ %>
        <div class = "container">
            <div class = 'panel panel-default'>
                <div class = "panel-heading">
                    <div class ="panel-title col-lg-6"><%= blogs[i].Title %></div>
                    <div class = " text-right"><%= blogs[i].Username %> 於 <%= blogs[i].CreateDate %> 發布</div>            
                </div>
                <div class = "panel-body">
                    <div class = "container-fluid text-right">
                    </div>
                    <div class = "container-fluid">
                        <p><%= blogs[i].Article %></p>
                    </div>
                    <div class = "text-right container-fluid">
                        <a href = '/users/message/<%= blogs[i].id %>'  class="btn btn-primary">Leave a message</a>
                    </div>
                </div>
            </div>
        </div>
    <% }; %>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>