<doctype html>
    <html>
        <head>
            <title>Leave messages</title>
        </head>
        <body>
            <div style = 'float:left'>
                <a href = '/'>Home</a>
            </div>
            <div style = 'float:right'>
                <% if(username && authenticated){ %>
                    <a href = '/users/signout' style = 'margin:10px'>Sign Out</a>
                    <a href = '/users/add_article' style = 'margin:10px'>Add article</a>
                    <a href = '/users/profile' style = 'margin:10px'>Profile</a>
                    <span><%= username %></span>
                <% }else{ %>
                    <a href = '/users/signin' style = 'margin:10px'>Log in</a>
                    <a href = '/users/register' style = 'margin:10px'>Register</a>
                    <a href = '/users/forget' style = 'margin:10px'>Forget password</a>
                <% } %>
        </div>

        <div style = "padding: 50px">
            <h1><%= title %></h1>
            <div>
                <div style = 'float:left; margin-top:10px;'><%= blogs[0].Username %></div>
                <div style = 'float:right; margin-top:10px'><%= blogs[0].CreateDate %></div>
                <br>
                <div style = 'clear:both'><%= blogs[0].Article %></div>
                <hr style = 'margin-top:30px'>
                <br>
                <br>
            </div>
            <div style = 'width:40%; margin-left:30%;'>
                <% for(i = 0; i < comments.length; i++){ %>
                    <div style='right:42%; margin-top:20px;'>
                        <div style = 'float:left; margin-top:10px;'><%= comments[i].Visitor %></div>
                        <div style = 'float:right; margin-top:10px;'><%= comments[i].CreateDate %></div>
                        <br>
                        <div style = 'clear:both'><%= comments[i].Comment %></div>
                        <hr style = 'margin-top:30px'>
                        <br>
                        <br>
                    </div>
                <% } %>
            </div>
        </div>
        <div style='margin-left:30%;'>
            <form name = 'comment' action = '/apis/comment/<%= messageID %>' method = 'post'>
                <h1>Leave a message</h1>
                <div>
                    <p>
                        <span>Name:</span>
                        <input type = 'text' name = 'Visitor'>
                    </p>
                    <p>
                        <textarea cols = '50' rows = '20' style = 'resize:none' name = 'Comment'></textarea>
                    </p>
                </div>
                <div>
                    <span style='padding-right:377px;'>
                        <input type = 'submit' name = 'submit' value = 'reply'>
                    </span>
                    <hr sytle = 'width:50%; margin-top:30px; margin-left:0%'>
                    <br>
                    <br>
                </div>
            </form>
        </div>
        </body>
    </html>
</doctype>